<!-- <h3 class="category__heading"><b>BỘ LỌC TÌM KIẾM</b></h3>
<ul class="category-list">
  <li class="category-item category-item--active">
    <div class="filter-header">Theo danh mục</div>
    <div>
      <div class="content-filter">
        <input type="checkbox" id="phone" />
        <span class="ml-3">Điện Thoại</span>
      </div>
      <div class="content-filter">
        <input type="checkbox" id="computer"/>
        <span class="ml-3">Máy Tính</span>
      </div>
      <div class="content-filter">
        <input type="checkbox" id="clothes"/>
        <span class="ml-3">Quần Áo</span>
      </div>
      <div class="content-filter">
        <input type="checkbox" id="footwear"/>
        <span class="ml-3">Giày Dép</span>
      </div>
      <div class="content-filter">
        <input type="checkbox" id="foot"/>
        <span class="ml-3">Đồ Ăn</span>
      </div>
      <div class="content-filter">
        <input type="checkbox" id="fruit"/>
        <span class="ml-3">Trái Cây</span>
      </div>
    </div>
  </li>
  <li class="category-item">
    <!-- <a href="#" class="category-item__link">Đơn vị vận chuyển</a> -->
    <div class="filter-header">Đơn vị vận chuyển</div>
    <div>
      <div class="content-filter">
        <input type="checkbox" id="express"/>
        <span class="ml-3">Hoả tốc</span>
      </div>
      <div class="content-filter">
        <input type="checkbox" id="fast" />
        <span class="ml-3">Nhanh</span>
      </div>
      <div class="content-filter">
        <input type="checkbox" id="save"/>
        <span class="ml-3">Tiết kiệm</span>
      </div>
    </div>
  </li>
  <li class="category-item">
    <div class="filter-header">Tình trạng</div>
    <div>
      <div class="content-filter">
        <input type="checkbox" id="statusNew"/>
        <span class="ml-3">Mới</span>
      </div>
      <div class="content-filter">
        <input type="checkbox" id="statusOld"/>
        <span class="ml-3">Đã qua sử dụng</span>
      </div>
    </div>
  </li>
  <li class="category-item mb-3">
    <div class="filter-header">Khoảng giá</div>

    <!-- <div class="row px-4">
        <div class="col-5">
            <input type="text" name="currency-field" id="currency-field" 
            pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" 
            placeholder="$1,000,000.00" style="width: 100%;">
        </div>
        <div class="col-2 text-center">-</div>
        <div class="col-5">
          <input type="text" name="currency-field" id="currency-field" 
          pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" 
          placeholder="$1,000,000.00" style="width: 100%;">        </div>
      </div> -->

      <div class="input-container">
        <div class="">
            <input class="form-control base-font" type="number" name="currency-field" id="minPrice" 
            pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" 
            placeholder="$ Từ" style="width: 100%;">
        </div>
        <div class="text-center" class="ml-3 mr-3">-</div>
        <div class="">
          <input class="form-control base-font" type="number" name="currency-field" id="maxPrice" 
          pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" 
          placeholder="$ Đến" style="width: 100%;">        
        </div>
      </div>
      
      <div class="p-4 text-center">
        <button type="button" class="btn base-font base-shoppe-bg" style=" width: 20%;" onclick="fillterApply()">Áp dụng</button>
      </div>
  </li>
  <li class="category-item">
    <div class="p-4 text-center">
      <button type="button" class="btn base-font base-shoppe-bg" style="width: 20%;" onclick="clearFillter()">Xoá bộ lọc</button>
    </div>
    
  </li>
</ul> -->