
<li class="pagination-item">
    <a href="#" class="pagination-item__link " onclick="prePage()">
      <i class="pagination-item__icon fas fa-angle-left"></i>
    </a>
  </li>


  <li class="pagination-item pagination-item--active">
    <a href="" class="pagination-item__link">1</a>
  </li>
  <li class="pagination-item">
    <a href="" class="pagination-item__link">2</a>
  </li>
  <li class="pagination-item">
    <a href="" class="pagination-item__link">3</a>
  </li>
  <li class="pagination-item">
    <a href="" class="pagination-item__link">4</a>
  </li>
  <li class="pagination-item">
    <a href="" class="pagination-item__link">5</a>
  </li>
  <li class="pagination-item">
    <a href="" class="pagination-item__link">...</a>
  </li>
  <li class="pagination-item">
    <a href="" class="pagination-item__link">14</a>
  </li>


  <li class="pagination-item">
    <a href="#" class="pagination-item__link" onclick="nextPage()">
      <i class="pagination-item__icon fas fa-angle-right"></i>
    </a>
  </li>