.Cart {
    text-align: center;
    padding: 50px 0;
}

.cart-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    gap: 10px;
    align-items: center;
    height: 70vh;
    overflow-y: auto;
}